<%- layout ('layouts/boilerplate') %>

    <nav class="nav">
        <p class="nav__logo">Kayaks4Life</p>
        <a class="nav__item" aria-current="page" href="/">Home</a>

        <a class="nav__item" href="/launchLocations">Launch Locations</a>
        <% if(!currentUser){ %>
            <a class="nav__item nav__selected" href=" /login">Login</a>
            <a class="nav__item" href="/register">Register</a>
            <% }else{ %>
                <a class="nav__item" href="/logout">Logout</a>
                <% } %>

    </nav>


    <div class="">
        <div class="">
            <div class="">
                <div class="feature">


                    <div class="feature--card">
                        <h1 class="">Login</h1>

                        <form class="" method="post" action="">
                            <div class="">
                                <label class="signup__form--input-label" for="username">Username:</label>
                                <input required class="signup__form--input-text" type="text" autofocus name="username"
                                    id="username" placeholder="Username">


                            </div>

                            <div class="">
                                <label class="signup__form--input-label" for="password">Password:</label>
                                <input required class="signup__form--input-text" type="password" name="password"
                                    id="password" placeholder="">

                            </div>
                            <button class="btn btn--button btn--white ">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>